# Core FastAPI stack
fastapi==0.111.0
uvicorn[standard]==0.23.2
starlette==0.26.3

# Pydantic 2.x
pydantic==2.6.2
pydantic_core==2.41.5

# Utilities
python-multipart==0.0.6
email-validator==2.5.1
typing-extensions==4.15.0

# Optional / deployment
gunicorn==25.0.2
anyio==4.12.1
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
packaging==26.0
annotated-doc==0.0.4
annotated-types==0.7.0
typing-inspection==0.4.2
h11==0.16.0
idna==3.11